{% extends 'base.html.twig' %}

{% block body %}
    <h1>Locations</h1>

    {{ datatable_render(datatable) }}



    <ul>
        <li>
            <a href="{{ path('owner_location_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
