{% block header %}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
   <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>       
        <a class="navbar-brand" href="#">
            <img width="20" height="20" src="{{ asset('assets/images/logo.png') }}" alt="Redeemar" />
        </a>
    </div>
    <div class="collapse navbar-collapse">
        {{ knp_menu_render('main') }}
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            {{ knp_menu_render('sidebar', {'include_homepage': true}) }}
        </div>
    </div>
</nav>
{% endblock %}