{% extends 'base.html.twig' %}

{% block header %}
    {% include 'OwnerUserBundle:shared:header.html.twig' %}
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Dashboard</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ cnerta_breadcrumb_render('sidebar', {'template': 'OwnerUserBundle:shared:breadcrumb.html.twig'}) }}
            </div> 
        </div>
        {% include 'OwnerUserBundle:shared:flash_message.html.twig' %}
        
        {{ datatable_render(datatable) }}        
    </div>
{% endblock %}

{% block footer %}    
    {% include 'OwnerUserBundle:shared:footer.html.twig' %}
{% endblock %}
